/* 头尾各个页面相同的样式 */
/* 版心 */
.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: end;
    height: 52px;
    /* background-color: pink; */
}

.shortcut ul {
    display: flex;
    line-height: 52px;
}

.shortcut li a {
    padding: 0 15px;
    border-right: 1px solid #999;
    font-size: 14px;
    color: #fff;
}

.shortcut li:last-child a {
    border: none;
}

.shortcut li .iconfont {
    margin-right: 4px;
    vertical-align: middle;
}

.shortcut li .login {
    color: #5EB69C;
}

.header {
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 88px;
    /* background-color: pink; */
}

.logo {
    width: 200px;
    height: 88px;
    background-color: skyblue;
    margin-right: 40px;
}

.logo a {
    font-size: 0;
    display: block;
    width: 200px;
    height: 88px;
    background-image: url(../images/logo.png);
}

.nav {
    margin-top: 33px;
    margin-right: 28px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 47px;
}

.nav li a {
    padding-bottom: 10px;
}

.nav li a:hover {
    border-bottom: 1px solid #5EB69C;
    color: #5EB69C;
}

.search {
    display: flex;
    width: 170px;
    height: 34px;
    margin-right: 45px;
    margin-top: 33px;
    border-bottom: 2px solid #F4F4F4;
}

.search .iconfont {
    margin-right: 8px;
    font-size: 18px;
    color: #CCC;
}

.search input {
    flex: 1;
    width: 0;
}

.search input::placeholder {
    font-size: 16px;
    color: #CCC;
}