/* 首页内容的样式 */
.banner {
    height: 500px;
    background-color: #F5F5F5;
}

.banner .wrapper {
    position: relative;
    height: 500px;
    background-color: pink;
    overflow: hidden;
}

.banner .pic {
    display: flex;
    width: 3720px;
    /* 隐藏溢出 */
}

.banner .wrapper .subnav {
    height: 500px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.42);
    position: absolute;
    left: 0;
    top: 0;
}

.subnav li {
    padding-left: 30px;
    padding-right: 12px;
    height: 50px;
    /* background-color: pink; */
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
}

.subnav li a {
    font-size: 14px;
    margin-right: 5px;
    color: #fff;
}

.subnav li .classify {
    font-size: 16px;
    margin-right: 14px;
}

.subnav li .iconfont {
    font-size: 14px;
}

.subnav li:hover {
    background-color: #00BE9A;
}

.banner ol {
    position: absolute;
    bottom: 17px;
    right: 16px;
    display: flex;
}

.banner ol li {
    width: 22px;
    height: 22px;
    /* background-color: pink; */
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer
}

.banner ol li i {
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 4px auto;
}

.banner ol li.active i {
    background-color: #fff;
}

.banner ol .active {
    background-color: rgba(255, 255, 255, 0.5);
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 42px;
    /* background-color: pink; */
}

.title .left {
    display: flex;
}

.title .left h3 {
    margin-right: 35px;
    font-size: 30px;
}

.title .left p {
    align-self: flex-end;
    color: #A1A1A1;
}

.title .right .more {
    line-height: 42px;
    color: #A1A1A1;
}

.title .right .more .iconfont {
    margin-left: 10px;
}

.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    width: 304px;
    height: 404px;
    background-color: #eef9f4;
}

.bd li .pic {
    width: 304px;
    height: 304px;
}

.bd li .txt {
    text-align: center;
}

.bd li h4 {
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 20px;
}

.bd li p {
    font-size: 18px;
    color: #AA2113;
}

.bd li p span {
    margin-left: 3px;
    font-size: 22px;
}

.recommend .bd li {
    background-color: #fff;
}

.recommend .bd p {
    color: #A1A1A1;
}

.brand {
    margin-top: 60px;
    height: 468px;
    background-color: #F5F5F5;
}

.brand .wrapper {
    height: 468px;
    /* background-color: pink; */
}

.brand .title {
    position: relative;
    margin-bottom: 40px;
}

.brand .bottom {
    position: absolute;
    bottom: -25px;
    right: 0;
    display: flex;
}

.brand .bottom a {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    text-align: center;
    line-height: 20px;
    color: #fff
}

.brand .bottom .prev {
    background-color: #ddd;
}

.brand .bottom .next {
    background-color: #00BE9A;
}

.brand .bd ul {
    display: flex;
    justify-content: space-between;
}

.brand .bd li {
    width: 244px;
    height: 306px;
}

.fresh .title {
    margin-top: 60px;
    margin-bottom: 20px;
}

.title .right {
    display: flex;
}

.title .right ul {
    margin-top: 10px;
    margin-right: 58px;
    display: flex;
}

.title .right ul a {
    display: block;
    margin-left: 6px;
    height: 20px;
    padding: 0 7px;
    /* background-color: pink; */
    line-height: 20px;
}

.title .right .active {
    background-color: #00BE9A;
    color: #fff;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .left {
    width: 248px;
    height: 610px;
    /* background-color: pink; */
}

.content .right {
    width: 968px;
    height: 610px;
    /* background-color: pink; */
}

.content .right ul {
    display: flex;
    flex-wrap: wrap;
}

.content .right ul li {
    padding: 10px 21px 0;
    width: 242px;
    height: 305px;
    /* border: 2px solid skyblue; */
    position: relative;
    overflow: hidden;
}

.content .pic {
    width: 200px;
    height: 180px;
}

.content .info {
    height: 60px;
    margin-top: 14px;
    margin-bottom: 5px;
    line-height: 19px;
}

.content .price {
    color: #Af2f22;
}

.content .price span {
    margin-left: 5px;
    font-size: 22px;
}

.content li .cover {
    position: absolute;
    bottom: -86px;
    left: 0;
    width: 242px;
    height: 84px;
    background-color: #00BE9A;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    transition: all 0.5s;
}

.content li .cover p:nth-child(1) {
    font-style: 18px;
}

.content li .cover p:nth-child(2) {
    width: 120px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.11);
    margin: 3px auto 6px;
}

.content li .cover p:nth-child(3) {
    font-size: 13px;
}

.content li .cover p:nth-child(3) .iconfont {
    font-size: 14px;
}

.content .right li:hover .cover {
    bottom: 0;
}

.content .right li:hover {
    border: 2px solid #00be9A;
}

.topic {
    margin-bottom: 40px;
}

.topic .title {
    margin-top: 100px;
    ;
}

.topic .topic-bd ul {
    display: flex;
    justify-content: space-between;
}

.topic .topic-bd ul li {
    width: 405px;
    height: 335px;
    /* background-color: pink; */
}

.topic .topic-bd ul li .pic {
    width: 405px;
    height: 288px;
    position: relative;
}

.topic-bd .txt {
    display: flex;
    width: 405px;
    height: 67px;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    font-size: 14px;
    color: #666;
}

.topic-bd .txt .left {
    display: flex;
}

.topic-bd .txt .left p {
    margin-right: 20px;
}

.topic-bd .txt .left p:nth-child(1) i {
    color: #AA2113;
}

.topic-bd .cover {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 15px;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 405px;
    height: 90px;
    background-image: linear-gradient(180deg, rgba(137, 137, 137, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%);
}
.topic-bd .cover .left {
     color: #fff;
}

.topic-bd .cover .left h4 {
    font-size: 20px;
    margin-bottom: 6px;
}

.topic-bd .cover .right {
    padding: 0 7px;
    height: 25px;
    background-color: #fff;
    color: #AA2113;
    font-size: 15px;
}

.topic-bd .cover .right span {
    font-size: 18px;
}