//out: ../css/
@import "./base.less";
// 定义变量
@base : 37.5rem;
header {
    display: flex;
    justify-content: space-between;
    padding: 0 (15/@base );
    height: (44/@base );
    background-color: pink;
    line-height: (44/@base );
}

